:root {
  --venue-font-family-sans: "Archivo", system-ui, -apple-system, sans-serif;
  --venue-font-family-mono: "Roboto Mono", system-ui, -apple-system, mono;

  --venue-font-size-xs: 0.75rem;
  --venue-font-size-sm: 0.875rem;
  --venue-font-size-md: 1rem;
  --venue-font-size-lg: 1.25rem;

  --venue-font-weight-regular: 400;
  --venue-font-weight-medium: 500;
  --venue-font-weight-semibold: 600;
  --venue-font-weight-bold: 700;

  --venue-header-size-sm: 1.25rem;
  --venue-header-size-md: 1.5rem;
  --venue-header-size-lg: 2rem;
  --venue-header-size-xl: 3rem;
  --venue-header-size-xxl: 4rem;

  --venue-line-height-1: 1.2;
}
